        .font-30 {
            font-size: 30px;
            font-weight: 500;
        }
        
        .font-50 {
            font-size: 50px;
            font-weight: 500;
        }
        
        .details {
            margin-top: 50px;
        }
        
        .link-pag {
            margin-top: 200px;
        }